@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Redressed&family=Roboto&display=swap');

*{
	font-family: 'Poppins', sans-serif;
	margin: 0;
}

.icono{
	display: flex;
	width: 100px;
	height: 100px;
	position: absolute;
	left: 20px;
}

:root{
	--colorMolonPrincipal: #7a939a;
	--colorMolonSecundario: #526776;
}

body{
	background: var(--colorMolonPrincipal);
}

header{
	background: var(--colorMolonSecundario);
	padding: 1em;
	display: flex;
	justify-content: flex-end;
	box-shadow: 0 0 15px #000000;
}

.buscar{
	background: transparent;
	border: 2px solid var(--colorMolonPrincipal);
	padding: .5em 1em;
	border-radius: 50px;
	font-size: 1em;
	color: ghostwhite;
}

.buscar:focus{
	outline: 0;
	background: var(--colorMolonPrincipal);
}

.buscar::placeholder{
	color: rgb(206, 206, 206);
}

main{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.peli{
	width: 300px;
	margin: 1em;
	border-radius: 3px;
	box-shadow: .2px .4px 5px rgba(0, 0, 0, 5);
	background: var(--colorMolonSecundario);
	position: relative;
	overflow: hidden;
}

.peli img{
	width: 100%;
}

.infoPeli{
	color:ghostwhite;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: .5em 1em;
}

.infoPeli H2{
	font-size: 1.3em;
}

.infoPeli span{
	background: var(--colorMolonPrincipal);
	padding: .2em .5em;
	border-radius: 3px;
	font-weight: bold;
}

.infoPeli span.ratingVerde{
	color: lightgreen;
}

.infoPeli span.ratingNaranja{
	color: orange;
}
.infoPeli span.ratingRojo{
	color: lightcoral;
}

.resena{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background: ghostwhite;
	padding: 1em;
	max-height: 100%;
	transform: translateY(101%);
	transition: transform 0.3s ease-in;
}

.peli:hover .resena{
	transform: translateY(0);
}
